body{
    margin-top:60px;
}

.btnPanier{
    display:none;
    position:absolute;
    bottom:70px;
    left:80px;
}
.thumbnail:hover .btnPanier{
    display:block;
}

table.prod{
    position: relative;
    display:none;
}

span.glyphicon-minus{
    display:none;
}


/*formulaire de la page profil*/
.inputMembre, .savedMembre, .labelRadio{
    display:none;
}
.form-inline .form-control {
    display:none;
}


/* formulaire ajout annonce */
input.typeFile, label.typeFile{
    display:none;
}

.viewPhoto{
    display:none;
    width:50px;
    height:50px;
}

/* page d'accueil */
.listeAnnonce img{
    width: 80px;
    height: 80px;
    margin: 0 40px 0 20px;
}
.listeAnnonce{
    padding: 20px 0 20px 0;
    border-bottom: 1px solid grey;
}